# flyctl launch added from .gitignore
**/*.iml
**/.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
**/.DS_Store
build
captures
**/.externalNativeBuild
**/.cxx
**/.idea/*
**/*/build
**/*/release
**/crowdin.properties

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
